

.box {
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 12vh;
    border-radius: 10px;
  
    background-image: linear-gradient(to right, #9ea2a1a8, #777c7ae5);
    /* box-shadow: 13px 20px 20px 0px rgba(0, 0, 0, 0.482); */
}


.header {
    display: flex;
    padding: 10px 30px;
}

.header .name {
    width: 50%;
    height: 100%;
    letter-spacing: 2px;
}

.header .logo {
    width: 50%;
    height: 100%;
    font-size: 3em;
}

.logo .fa-magento {
    padding: 8px 0px;
    float: right;
}


.chippart {
    width: 100%;
    height: 60px;
    display: flex;
}

.chip {
    width: 20%;
    height: 100%;
}

.chip img {
    padding: 3px 30px;
}

.wifi {
    width: 80%;
    height: 100%;
}

.wifi .fa-wifi {
    font-size: 2.2em;
    padding: 12px 0px;
    transform: rotate(90deg);
}


.cardno {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 20px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 1.5em;
}


.footer {
    height: 80px;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.footer .left {
    width: 60%;
    height: 100%;
    line-height: 2px;
    letter-spacing: 2px;
}

.left h5 {
    padding: 0px 35px;
}

.left h4 {
    padding: 0px 35px;
    font-weight: bold;
}

.footer .right {
    width: 40%;
    height: 100%;
}

.right img {
    padding: 10px 90px;
}